<footer class="site-footer teal darken-3 white-text">

  <div fxFlex fxLayout="row"  fxLayoutAlign="start center">

<!--
	<div *ngIf="! saisonActive" fxFlex="25%" fxFlexAlign="start center" >
		<div>&nbsp;<strong>Saison:</strong>&nbsp;---</div>
	</div>
-->
		<div  fxFlex="15%" fxFlexOffset="vw" fxFlexAlign="center center" >
			<div fxLayoutAlign="center center">
				CTT Limal-Wavre. 
			</div>
        </div>
    
        <div  fxFlex="70%" fxFlexOffset="vw" fxFlexAlign="center center" >
			<div fxLayoutAlign="center center">
				Version {{ app_version }}. 
			</div>
        </div>

		<div  fxFlex="15%" fxFlexOffset="vw" fxFlexAlign="end center" >

		<div fxLayoutAlign="end center">
			Powered by Angular {{ angular_version }}. &nbsp;
		</div>
		</div>
  </div>

</footer>
