<!-- Section: Blog v.2 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Nos partenaires</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/WAVRE.png" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <a href="https://www.wavre.be/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
                
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Ville de Wavre</strong></h4>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/BW.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <a href="https://brabantwallon.be/bw/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
                
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Province du Brabant Wallon</strong></h4>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/ADEPS.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <a href="http://www.sport-adeps.be/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>ADEPS</strong></h4>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row">
  
        <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/AfterWorkBar.jpeg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <a href="https://www.facebook.com/afterworkbar/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>AfterWork Bar</strong></h4>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/lerelais.jpg" alt="lerelais" class="image" style="width:100%">
            <div class="middle">
              
              <a href="https://www.facebook.com/le.relais.de.limal/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Le Relais</strong></h4>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/Nulle_Part_Ailleurs.png" alt="Nulle_Part_Ailleurs" class="image" style="width:100%">
            <div class="middle">
              <a href="https://fr.tripadvisor.be/Restaurant_Review-g661778-d741653-Reviews-Nulle_Part_Ailleurs-Louvain_la_Neuve_Walloon_Brabant_Province_Wallonia.html" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Nulle Part Ailleurs</strong></h4>

      </div>
      <!-- Grid column -->
      </div>
      <!-- Grid row -->

       <!-- Grid row -->
    <div class="row">
  
        <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/BERTRAND.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
              <a href="https://www.beaucommebertrand.com/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>            
            </div>
        </div>
      
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>BERTRAND</strong></h4>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="container">
            <img src="./assets/img/DANDOY.png" alt="DANDOY" class="image" style="width:100%">
            <div class="middle">
              <a href="http://fr.dandoy-sports.eu/" class="btn btn-danger" role="button" aria-pressed="true">Visiter</a>
            </div>
          </div>
  
        <!-- Featured image -->
        
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>DANDOY</strong></h4>

      </div>
      <!-- Grid column -->
      </div>
      <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.2 -->