<div class="card">

    <mdb-card-header class="primary-color white-text">
      <h3 class="card-title">Local du club</h3>
    </mdb-card-header>

    <div class="card-body">

      <p align="center">&nbsp;</p>
      <table>
      <tr><td>

      <table class="grid">
        <tr> 
          <td width="44%"><div align="center"><font size="+3">CTT Limal-Wavre</font></div></td>
        </tr>
        <tr> 
          <td><div align="center"><!-- img src="/images/logowavre.gif" width="100" height="137"-->
              <!-- < ?php echo Asset::img('logo_wavre.gif', array('width' => '100px', 'height'=>'137px', 'style'=>'border:0px none'));? > -->
              <img src="{{getPhotoWavreURL()}}" width="100px" height="137px" style="border: 0px none;"/>
            </div>
          </td>
        </tr>
        <tr> 
          <td>
            <div align="center"><font size="+2">Rue Charles Jaumotte 156<br>1300 WAVRE (Limal)</font></div>
          </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td><div align="center"><a href="http://maps.google.be/maps?q=Rue+Charles+Jaumotte+156,+1300+Wavre&hl=fr&sll=50.68701,4.374919&sspn=0.009788,0.027874&vpsrc=0&z=16" target="_blank">LIEN 
              GOOGLE MAPS</a></div></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td><div align="center">8 &agrave; 10 tables en comp&eacute;tition</div></td>
        </tr>
        <tr> 
          <td><div align="center">Jusque 12 tables en entrainement</div></td>
        </tr>
      </table>

      </td>
      <td align="right">
      <table>
        <tr>
          <td width="200px">&nbsp;</td>
          <td align="right">
            <!-- < ?php echo Asset::img('locaux/IMG_0592.JPG', array('width' => '600px', 'height'=>'380px', 'style'=>'border:0px none'));? > -->
            <img src="{{getPhotoLocalURL()}}" width="600px" height="380px" style="border: 0px none;"/>
          </td>
        </tr>
      </table>

      </td>
      </tr>
      </table>



  </div>

</div>

<br><br><br><br>
