<div class="card">

  <div class="card-body">

    <h5 class="card-title">Composition du comité</h5>

    <div *ngIf="loading">
      <mdb-spinner spinnerType="small"></mdb-spinner>
    </div>

    <div *ngIf=" ! loading">
      <div *ngIf="countMembres()>0">
        <!--
        <div *ngFor="let membre of membres; let ix=index">
        <app-comite-composition-membre [membre]="membre"></app-comite-composition-membre>
        </div>
        -->

        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Photo</th>
              <th scope="col">Rôle</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Adresse</th>
              <th scope="col">Tel</th>
              <th scope="col">Gsm</th>
              <th scope="col">EMail</th>
              <th scope="col">Note</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let membre of membres; let ix=index">
              <td>{{ix+1}}</td>
              <td *ngIf="hasPhoto(membre)"><img src="{{getPhotoURL(membre)}}" width="70px" height="70px" class="img-thumbnail"></td>
              <td *ngIf=" ! hasPhoto(membre)">&nbsp;</td>
              <td>{{membre.role}}</td>
              <td>{{membre.nom}}</td>
              <td>{{membre.prenom}}</td>
              <td><small>
                {{membre.rue}}, {{membre.numero}} {{boite(membre)}}<br/>
                {{membre.code_postal}} &nbsp; {{membre.localite}} 
              </small>
              </td>
              <td>{{membre.num_tel}}</td>
              <td>{{membre.num_mobile}}</td>
              <td>{{membre.email}}</td>
              <td><small>{{membre.comment_comite}}</small></td>
            </tr>

          </tbody>
        </table>

      </div>

      <div *ngIf="countMembres()==0">
        <p>Le comité n'a pas de membre !</p>
      </div>

    </div>

  </div>

</div>

<br><br><br><br>
