<div>
    <mat-card>
        <mat-card-title>Changement de mot de passe</mat-card-title>
        <mat-card-content>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                     
                <div formGroupName="passwordsForm" class="text-left mt-3">
                    <div class="text-left mt-3">
                        <div class="text-left mt-3">
                            <i class="fa fa-lock prefix grey-text"></i>
                            &nbsp; &nbsp;
                            <mat-form-field>
                                    <input
                                    type="password"
                                    matInput
                                    placeholder="Nouveau mot de passe"
                                    formControlName="password" (input)="onChangePassword()">
                                    <mat-error>Mot de passe incorrect</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="strength-meter text-left mt-3">
                            <!-- <i class="fa fa-lock prefix grey-text"></i>
                            &nbsp; &nbsp; -->
                            <password-strength-meter [password]="password" enableFeedback="true"
                                        (strengthChange)="onPasswordStrengthChanged($event)"></password-strength-meter>
                            <span><small>Strength: {{passwordStrength}}</small></span>
                            <div *ngIf="passwordStrength<=1" style="color: red;">Force du mot de passe insuffisante!</div>
                        </div>
                        
                    </div>
                    <br>
                    <br>

                    <div class="text-left mt-3">
                        <i class="fa fa-lock prefix grey-text"></i>
                        &nbsp; &nbsp;
                        <mat-form-field>
                                <input
                                type="password"
                                matInput
                                placeholder="Répéter nouveau mot de passe"
                                formControlName="password2">
                                <!-- <mat-hint>{{ "login.label.Your password"|translate}}</mat-hint> -->
                                <mat-error>Mot de passe incorrect</mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div id="password-matching-error" *ngIf="passwordsForm.dirty && passwordsForm.hasError('matchingError')" style="color: red;">Les mots de passe ne sont pas identiques</div>

                <br>

                <div class="text-left mt-3">

                    <i class="fa fa-lock prefix grey-text"></i>
                    &nbsp; &nbsp;
                    <mat-form-field>
                        <input
                            type="text"
                            matInput
                            placeholder="Jeton"
                            formControlName="jeton">
                            <mat-error>Jeton incorrect</mat-error>
                    </mat-form-field>
                    <br>
                    <span><small>Votre jeton a été envoyé à l'adresse email suivante:</small></span>
                    <br>
                    <span><small>{{ preLoginuser.email }}.</small></span>
                    <br>
                    <span *ngIf="! isProd"><small>{{jeton}}</small></span>
                </div>
    
                <div class="text-left mt-3">
                    <button class="btn btn-sm btn-dark-green waves-light" 
                        type="submit" [disabled]="changePasswordForm.invalid || passwordStrength<=1" mdbWavesEffect>
                                Modifier mon mot de passe</button>
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>

</div>