<!--Section: Pricing v.5-->
<section class="text-center pb-5 my-2">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold my-4">Devenir membre</h2>
    <!--Section description-->
    
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-10 mb-4">
        <!--Card-->
        <mdb-card class="pricing-card">
          <!--Content-->
          <mdb-card-body>
            <mdb-card-title>
              <h3 class="mt-3">
                <strong>Essai</strong>
              </h3>
            </mdb-card-title>
            <!--Price-->
            <div class="price pt-0">
              <h2 class="red-text number">0</h2>
            </div>
            <!--Price-->
            <ul class="striped">
              <li>
                <p>
                  3 Entrainements <strong>dirigés</strong></p>
              </li>
              <li>
                <p>
                  <strong>ou</strong></p>
              </li>
              <li>
                <p>
                  3 Entrainements <strong>libres</strong></p>
              </li>
            </ul>
            <a mdbBtn color="danger" rounded="true" class="mb-4 waves-light" mdbWavesEffect> Essai</a>
          </mdb-card-body>
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-10 mb-4">
  
        <!-- Card -->
        
        <mdb-card class="card-image" style="background-image: url('./assets/img/logo_liwa_2020.png')">
  
          <!-- Content -->
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-red-strong py-3 px-3 rounded">
  
            <!--Content-->
            <mdb-card-body>
              <mdb-card-title>
                <h3>
                  <strong>Membre annuel</strong>
                </h3>
              </mdb-card-title>
              <!--Price-->
              <div class="price pt-0">
                <h2 class="number">170</h2>
              </div>
              <!--Price-->
              <ul class="striped">
                <li>
                  <p>
                    Affiliation au <strong>CTT Limal-Wavre</strong></p>
                </li>
                <li>
                  <p>
                    Affiliation à la <strong>fédération (assurance comprise)</strong></p>
                </li>
                <li>
                  <p>
                    Entrainements <strong>dirigés</strong></p>
                </li>
                <li>
                  <p>
                    Entrainements <strong>libres</strong></p>
                </li>
                <li>
                  <p>
                    Participation aux <strong>interclubs</strong></p>
                </li>
                <li>
                  <p>
                    Repas à <strong>l'assemblée générale</strong> de fin de saison</p>
                </li>
              </ul>
              <a mdbBtn color="white" outline="true" rounded="true" class="waves-light" mdbWavesEffect> Devenir membre</a>
            </mdb-card-body>
  
          </div>
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-10 mb-4">
        <!--Card-->
        <mdb-card class="pricing-card">
  
          <!--Content-->
          <mdb-card-body>
            <mdb-card-title>
              <h3 class="mt-3">
                <strong>Membre externe</strong>
              </h3>
            </mdb-card-title>
            <!--Price-->
            <div class="price pt-0">
              <h2 class="red-text number">120</h2>
            </div>
            <!--Price-->
            <ul class="striped">
              <li>
                <p>
                  Doit être membre dans <strong>un autre club (question d’assurance) *</strong></p>
              </li>
              <li>
                <p>
                  Entrainements <strong>dirigés</strong></p>
              </li>
              <li>
                <p>
                  Entrainements <strong>libres</strong></p>
              </li>
              
            </ul>
            <a mdbBtn color="danger" rounded="true" class="mb-4 waves-light" mdbWavesEffect> Devenir membre</a>
          </mdb-card-body>
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
  
      
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Pricing v.5-->
