
::ng-deep .navCss nav
{
    color: black;
    background-color: crimson;
    height: 40px;
    font-weight: 500;
}

.nav-item > a:hover {
    color: aqua!important;
    // background-color: black;
    }

.dropdown-menu {
    background-color: crimson;
}
.nav-item {
    background-color: crimson;
    height: 40px;
}

.logo-normal {
    top: 0;
}
    
@media screen and (min-width: 645px)
{
    .logo-small {
        visibility: hidden;
    }
}
@media screen and (max-width: 644px)
{
    .logo-normal {
        visibility: hidden;
        top: 0;
    }

    ::ng-deep .navCss nav
    {
        height: 60px;
    }

    #navbar-brand {
        visibility: hidden;
    }

    .nav-item {
        background-color: crimson;
        height: 30px;
        font-weight: 200;
    }

    .dropdown-menu {
        top: -10px !important;
        }
}

/*
  @media screen and (max-width: 400px)
  {
    ::ng-deep .navCss nav
    {
        color: black;
        background-color: crimson;
        height: 60px;
        font-weight: 500;
        //align-content: flex-end;
        z-index: 1;
    }

    .dropdown-menu {
        color: cornflowerblue;
        background-color: darkgoldenrod;
    }
  }
  */
/*
  ::ng-deep .dropdown-item 
  // > a:hover 
  {
    color: red;
    background-color: yellow;
}
*/
/*
::ng-deep .dropdown-item 
 > a:hover 
{
  color: red;
  background-color:cyan ;
}
*/

::ng-deep .navbar.navbar-dark.top-nav-collapse .navbar-nav .nav-item .nav-link { color: crimson; }
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover
{background-color: crimson !important;
}


/*
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
*/