<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark red">

  <!-- Navbar brand -->
 
  <a class="navbar-brand" href="#">CTT Limal-Wavre</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="active" *ngIf=" ! getAuthService().isUserClubAdmin()">
        <a class="nav-link" routerLinkActive="active" routerLink="/"> <i class="fa fa-home" aria-hidden="true"></i> Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="getAuthService().isUserClubAdmin()">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i> Accueil</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item"  routerLink="/">Accueil</a></li>
          <li><a class="dropdown-item"  routerLink="news/liste/admin">Gérer les news</a></li>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i> Club</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Les membres</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Devenir membre</a></li>
          <div class="divider dropdown-divider"></div>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="local/local">Local</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="tournoi/new">Comité et organisation</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="criterium/new">Statuts</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="coupe/new">Réglement Ordre Intérieur</a></li>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fa fa-trophy" aria-hidden="true"></i> Competitions</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Messieurs/Dames</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Aînées</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Vétérans</a></li>
          <div class="divider dropdown-divider"></div>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="tournoi/new">Listes des forces</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="criterium/new">Challenge</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="coupe/new">Adresses des clubs</a></li>
          <div class="divider dropdown-divider"></div>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Tournoi</a></li>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i> Activités</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Entraînements</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="competition/liste">Stages</a></li></div>
      </li>

      <li><a class="nav-link" routerLinkActive="active" routerLink="prix/liste"><i class="fa fa-eur" aria-hidden="true"></i> Prix<span class="sr-only">(current)</span></a></li>

      <li><a class="nav-link" routerLinkActive="active" routerLink="/"><i class="fa fa-file-text" aria-hidden="true"></i> Documents<span class="sr-only">(current)</span></a></li>
                    
      <li><a class="nav-link" routerLinkActive="active" routerLink="sponsors/liste"><i class="fa fa-handshake-o" aria-hidden="true"></i> Sponsors<span class="sr-only">(current)</span></a></li>

      <li><a class="nav-link" routerLinkActive="active" routerLink="contact/form"><i class="fa fa-address-book-o" aria-hidden="true"></i> Contact<span class="sr-only">(current)</span></a></li>
    
      <li class="nav-item dropdown" *ngIf="getAuthService().isUserClubAdmin()">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i>  Admin</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/initdata" *ngIf="getAuthService().isUserSuperAdmin()">Init Data</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/interclubs">Interclubs</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/roles" *ngIf="getAuthService().isUserSuperAdmin()">Gestion des rôles</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="contact/black-list">Contact black list</a></li>

<!--           <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/saisons">Saisons</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/saison/add">Nouvelle Saison</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="tournoi/tournois" *ngIf="isSaisonActive()">Tournois</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="tournoi/new" *ngIf="isSaisonActive()">Nouveau tournoi</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/arbitres">Arbitres</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/manage">Manage Profils et Inscriptions</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/export">Exporter les résultats</a></li>
          <li><div class="divider dropdown-divider"></div></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/aft">AFT Test</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="admin/vttl">VTTL Test</a></li>
          <li><div class="divider dropdown-divider"></div></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="devStatus">Dev status</a></li> -->
        </div>
      </li>
    
    </ul>

    <ul class="navbar-nav nav-flex-icons">
                
      <li class="nav-item waves-light" mdbWavesEffect *ngIf=" user " (click)="onMyProfile($event)">
        <a class="nav-link" title="{{user.getFullName()}}">&nbsp; <i class="fa fa-user prefix"></i> &nbsp;</a>
      </li>
      
      <li class="nav-item waves-light" mdbWavesEffect *ngIf=" ! user " routerLink="login">
          <a class="nav-link"><i class="fa fa-sign-in"></i> Login</a>
      </li>
      
      <li class="nav-item waves-light" mdbWavesEffect *ngIf=" user " (click)="onLogout($event)">
          <a class="nav-link">Logout <i class="fa fa-sign-out"></i></a>
      </li>
          
  </ul>
  </div>
  <!-- Collapsible content -->

  

</nav>
<!--/.Navbar-->



