<!--The content below is only a placeholder and can be replaced.-->
<!--  
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
-->


<!--
<app-header></app-header>

<main>
    <div class="container-fluid mt-5">
        <router-outlet></router-outlet>
    </div>
</main>

<app-footer></app-footer>
-->


<div fxLayout="column">
<!--
	<div class="site-header">
		<app-header></app-header>
  </div>
-->
	<!--
	 <div fxLayout="row">
		<div fxFlex="2%"></div>
		<div fxFlex="96%">
			<app-header></app-header>
		</div>
		<div fxFlex="2%"></div>
    </div>
  -->
  

<!--
<div class="site-marquee" fxLayout="row">
	<div fxFlex="2%"></div>
	<div fxFlex="94%">
		<ng-marquee duration="25">
			<mark>Hello, World.... Find Me @ <a href="https://www.linkedin.com/in/shivarajnaidu/" target="__blank"> https://www.linkedin.com/in/shivarajnaidu/ (Yuvaraj)</a></mark>
		</ng-marquee>
	</div>
<div fxFlex="1%"></div>
	<div fxFlex="1%">
		<a ><i class="fa fa-times" aria-hidden="true"></i></a>
	</div>

</div>
-->
  
  <!--
    <div fxLayout="row">
        <div fxFlex="2%"></div>
        <div fxFlex="96%">
          <app-header></app-header>
        </div>
        <div fxFlex="2%"></div>
      </div>
      <br> <br> <br><br> <br>
      <div fxLayout="row">
        <app-marquee></app-marquee>
        <ng-marquee duration="25">
			<mark>Hello, World.... Find Me @ <a href="https://www.linkedin.com/in/shivarajnaidu/" target="__blank"> https://www.linkedin.com/in/shivarajnaidu/ (Yuvaraj)</a></mark>
		</ng-marquee>
      </div>
    -->

    <div class="site-header">
      <div fxLayout="row">
          <div fxFlex="2%"></div>
          <div fxFlex="96%">
            <app-header></app-header>
          </div>
          <div fxFlex="2%"></div>
      </div>
    </div>

    <main>
      <div fxLayout="row" class="container-fluid mt-5">
        <div fxFlex="2%"></div>
        <div fxFlex="96%">
          <router-outlet></router-outlet>
        </div>
        <div fxFlex="2%"></div>
      </div>
    </main>

	
	
	<hr />
	<div>
		<app-footer></app-footer>
	</div>
	
</div>
