<h2>Gestion des interclubs via AFTT</h2>
<br>

<!-- Nav Tabs -->
<!-- [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'" -->
<!-- [buttonClass]="'md-tabs tabs-3'"-->
<mdb-tabset #staticTabs [buttonClass]="'md-tabs'" [contentClass]="'card'">
    <!--Panel 1-->
    <mdb-tab heading="Equipes">
        <app-admin-equipes 
          (messieursTeams)="onReceiveTeams(1, $event)"
          (damesTeams)="onReceiveTeams(2, $event)"
          (veteransTeams)="onReceiveTeams(3, $event)"
          (aineesTeams)="onReceiveTeams(4, $event)"
          (jeunesTeams)="onReceiveTeams(5, $event)"
          ></app-admin-equipes>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Messieurs">
      <app-admin-equipes-by-category [teams]="afttClubMessieursTeamModel" [category]="1" [matchType]="2"></app-admin-equipes-by-category>
    </mdb-tab>
    <mdb-tab heading="Dames">
      <app-admin-equipes-by-category [teams]="afttClubDamesTeamModel" [category]="2" [matchType]="4"></app-admin-equipes-by-category>
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="Vétérans">
      <app-admin-equipes-by-category [teams]="afttClubVeteransTeamModel" [category]="3" [matchType]="4"></app-admin-equipes-by-category>
    </mdb-tab>
    <!--Panel 4-->
    <mdb-tab heading="Aînées">
      <app-admin-equipes-by-category [teams]="afttClubAineesTeamModel" [category]="4" [matchType]="4"></app-admin-equipes-by-category>
    </mdb-tab>
    <!--Panel 5-->
    <mdb-tab heading="Jeunes">
      <app-admin-equipes-by-category [teams]="afttClubJeunesTeamModel" [category]="13" [matchType]="4"></app-admin-equipes-by-category>
    </mdb-tab>
  </mdb-tabset>

